<h1>New Tweet</h1>
  <form action='/tweets' method="post">
    <label>Content: </label>
    <textarea type="text" id="content" name="tweet[content]"></textarea><br>
    <input type="submit" name="submit" id="submit">
  </form>

