<form action="/signup" method="post">
    <input type="text" id="username" name="username" placeholder="username"><br>
    <input type="email" id="email" name="email" placeholder="email"><br>
    <input type="password" id="password" name="password" placeholder="password"><br>
    <input type="submit" value="Sign Up">
</form>